.how-it-work{
	display: flex;
	width: 100%;
	padding: 85px 0 85px 0;
	background-color: $bc-light-mint;

	&__content{
		align-items: center;

		.headline{
			@include lora-bold;
			font-size: 36px;
			margin-bottom: 28px;
		}
	}

		.work{
			&__scheme{
				display: flex;
				width: 100%;
				margin-top: 60px;
				justify-content: space-between;
			}

			&__box{
				max-width: 260px;
						width: 100%;
						height: auto;
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding: 0 10px;

				&-header{
					height: 155px;
					display: inline-flex;
					align-items: baseline;
					position: relative;
					margin-bottom: 25px;

						&:before{
							content: '';
							position: absolute;
							right: 32px;
							top: 0;
							width: 65px;
							height: 100%;
							border-bottom: 2px solid $bc-dp;
						}
				}

				&-body{

					.headline{
						@include lora-bold;
						font-size: 21px;
						text-transform: uppercase;
					}

					.work__ceo{
						margin-top: 18px;
						font-size: 16px;
						line-height: 22px;
					}
				}

				&-icon{
					max-width: 128px;
							width: 100%;
							height: auto;
					display: inline-block;
				}
			}
		}
}