@charset "UTF-8";
/*
  ! - подсказка!
  ~ если хотим чтобы свойство записаное в root,
  наследовалось то добавляем к нужному блоку:
      ----> box-sizing: content-box; <----


*/
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container, .container__flex-wrap, .container__flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container, .container__flex-wrap, .container__flex-column {
  max-width: 1170px;
  width: 100%;
  height: auto;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container__flex-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  src: url(../fonts/PT_Sans-Web_regular);
}

@font-face {
  font-family: 'Lora', serif;
  src: url(../fonts/lora/Lora-Regular);
}

html,
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #404f54;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
}

.btn, .btn__pink, .btn__light {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 20px 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.btn:focus, .btn__pink:focus, .btn__light:focus {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(224, 122, 180, 0.67);
          box-shadow: 0px 0px 6px 2px rgba(224, 122, 180, 0.67);
}

.btn__pink {
  background: #d02184;
  color: #ffffff;
}

.btn__light {
  padding: 11px 30px;
  border: 2px solid #b3b9bb;
  background: transparent;
  color: #9ea4a6;
}

.btn__light:focus {
  border: 2px solid transparent;
}

.icons {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 46px;
  width: 100%;
  height: 48px;
}

.icons:focus {
  outline-style: solid;
  outline-width: 2px;
}

.col, .col-12, .col-10, .col-8, .col-4, .col-3, .col-2, .col-50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0 8px;
}

.col-12 {
  width: 100%;
}

.col-10 {
  width: 95%;
}

.col-8 {
  width: 60.6666%;
}

.col-4 {
  width: 40.2222%;
}

.col-3 {
  width: 30%;
}

.col-2 {
  width: 20%;
}

.col-50 {
  width: 50%;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 23px 0 25px 0;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 0px 2px 6px 1px #e0dfde;
          box-shadow: 0px 2px 6px 1px #e0dfde;
}

.header .link {
  color: #404f54;
}

.header .nav-panel {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 29px;
}

.header .nav-panel .list-links {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .nav-panel .li-link {
  margin-right: 11px;
  margin-left: 11px;
  font-size: 14px;
  text-transform: uppercase;
}

.header .col-4 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .col-4 .autorisation .log-in {
  margin-right: 30px;
}

.header .col-4 .autorisation .sign-up {
  margin-right: 45px;
}

.header .col-4 .autorisation .log-in,
.header .col-4 .autorisation .sign-up {
  font-size: 14px;
  text-transform: uppercase;
}

.welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 60px;
  height: 650px;
  background-image: url("../images/backgrounds/welcome.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.welcome__content {
  display: initial;
  margin: 0 auto;
  text-align: center;
}

.welcome__content .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 50px;
}

.welcome__content .subline {
  margin-top: 35px;
  font-size: 22px;
}

.welcome__content .searchholder {
  position: relative;
  margin-top: 32px;
}

.welcome__content .searchholder .txt-write {
  width: 100%;
  height: 57px;
  border: none;
  padding: 5px 8px 5px 55px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 6px 1px #b9bebf;
          box-shadow: 0px 4px 6px 1px #b9bebf;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.welcome__content .searchholder .txt-write:focus {
  outline: none;
}

.welcome__content .searchholder .txt-write:hover {
  -webkit-box-shadow: 0px 6px 8px 2px #b9bebf;
          box-shadow: 0px 6px 8px 2px #b9bebf;
}

.welcome__content .searchholder .btn__pink {
  position: absolute;
  top: 4px;
  right: 8px;
  height: 49px;
  padding: 0 45px;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 92px 0 92px;
}

.features__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.features__content .content-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__content .content-box .feature-txt {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: left;
}

.features__content .content-box .feature__headline {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #1baba1;
}

.features__content .content-box .feature__ceo {
  margin-top: 22px;
  font-size: 16px;
  color: #404f54;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__content {
  display: inherit;
  width: 100%;
  height: 498px;
}

.about .content-box-image {
  padding: 0;
  background-image: url("../images/backgrounds/computer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.about .content-box-ceo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 0 70px 0 65px;
  background-color: #f4fafa;
}

.about .content-box-ceo .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 26px;
}

.about .content-box-ceo .about-ceo {
  margin-top: 32px;
  font-size: 16px;
  line-height: 22px;
}

.about .content-box-ceo .link__mint {
  margin-top: 40px;
  font-size: 16px;
  color: #1baba1;
}

.get-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 85px 0 85px 0;
}

.get-start__content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.get-start__content .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 18px;
}

.get-start__content .subline {
  font-size: 21px;
}

.get-start__content .grid-box {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  width: 100%;
}

.get-start .info-card:hover:before,
.get-start .borderline__bottom:before {
  content: '';
  border-bottom: 0;
}

.get-start .info-card:hover:before,
.get-start .borderline__right:before {
  content: '';
  border-right: 0;
}

.get-start .info-card {
  max-width: 256px;
  width: 100%;
  height: auto;
  padding: 35px 24px 45px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition-property: border-bottom, -webkit-box-shadow;
  transition-property: border-bottom, -webkit-box-shadow;
  -o-transition-property: box-shadow, border-bottom;
  transition-property: box-shadow, border-bottom;
  transition-property: box-shadow, border-bottom, -webkit-box-shadow;
}

.get-start .info-card:hover {
  -webkit-box-shadow: 0px 0px 8px 1px #e0dfde;
          box-shadow: 0px 0px 8px 1px #e0dfde;
}

.get-start .info-card .card__header {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 64px;
}

.get-start .info-card .card__header-icon {
  max-width: 50px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.get-start .info-card .card__headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
}

.get-start .info-card .card__ceo {
  margin-top: 16px;
  font-size: 16px;
  line-height: 22px;
}

.get-start .info-card .card__body {
  margin-top: 28px;
}

.get-start .borderline__bottom {
  position: relative;
}

.get-start .borderline__bottom:before {
  content: '';
  position: absolute;
  left: 20%;
  top: 0;
  height: 100%;
  width: 60%;
  border-bottom: 1px solid #b3b9bb;
}

.get-start .borderline__right {
  position: relative;
}

.get-start .borderline__right:before {
  content: '';
  position: absolute;
  right: -11px;
  top: 25px;
  height: 65%;
  border-right: 1px solid #b3b9bb;
}

.get-start .btn-block {
  margin-top: 40px;
  width: 100%;
}

.how-it-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 85px 0 85px 0;
  background-color: #f4fafa;
}

.how-it-work__content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-work__content .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 28px;
}

.how-it-work .work__scheme {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-it-work .work__box {
  max-width: 260px;
  width: 100%;
  height: auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10px;
}

.how-it-work .work__box-header {
  height: 155px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  margin-bottom: 25px;
}

.how-it-work .work__box-header:before {
  content: '';
  position: absolute;
  right: 32px;
  top: 0;
  width: 65px;
  height: 100%;
  border-bottom: 2px solid #d02184;
}

.how-it-work .work__box-body .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}

.how-it-work .work__box-body .work__ceo {
  margin-top: 18px;
  font-size: 16px;
  line-height: 22px;
}

.how-it-work .work__box-icon {
  max-width: 128px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.tariff-plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 85px 0 85px 0;
}

.tariff-plan__content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff-plan__content .slogan,
.tariff-plan__content .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
}

.tariff-plan__content .slogan {
  font-size: 12px;
  text-transform: uppercase;
}

.tariff-plan__content .headline {
  margin-top: 18px;
  font-size: 36px;
}

.tariff-plan__content .subline {
  margin-top: 36px;
  font-size: 21px;
}

.tariff-plan .price__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 65px;
  width: 100%;
}

.tariff-plan .price__card {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  height: auto;
}

.tariff-plan .price__card:hover .price__header {
  background: #d02184;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
}

.tariff-plan .price__card:hover .price__header-name, .tariff-plan .price__card:hover .price__header-info, .tariff-plan .price__card:hover .price__header-count {
  color: #ffffff;
}

.tariff-plan .price__card:hover .price__body {
  -webkit-box-shadow: 0px 4px 8px 1px #e0dfde;
          box-shadow: 0px 4px 8px 1px #e0dfde;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.tariff-plan .price__card:hover .price__body .list__info {
  text-decoration: underline;
}

.tariff-plan .price__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 210px;
  background: #f4fafa;
}

.tariff-plan .price__header-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.tariff-plan .price__header-info {
  font-size: 14px;
}

.tariff-plan .price__header-count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lora', serif;
  font-weight: 700;
  margin-top: 22px;
  font-size: 60px;
  color: #d02184;
}

.tariff-plan .price__header-count .month {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 16px;
}

.tariff-plan .price__body {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 55px 65px 10px 65px;
}

.tariff-plan .price__body .list__info {
  font-size: 18px;
  margin-bottom: 45px;
}
