@charset "UTF-8";
/*
  ! - подсказка!
  ~ если хотим чтобы свойство записаное в root,
  наследовалось то добавляем к нужному блоку:
      ----> box-sizing: content-box; <----


*/
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

/*
  ! - подсказка!
  ~ если хотим чтобы свойство записаное в root,
  наследовалось то добавляем к нужному блоку:
      ----> box-sizing: content-box; <----


*/
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container__flex-wrap, .container__flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container, .container__flex-wrap, .container__flex-column {
  max-width: 1170px;
  width: 100%;
  height: auto;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container__flex-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  src: url(../fonts/PT_Sans-Web_regular);
}

@font-face {
  font-family: 'Lora', serif;
  src: url(../fonts/lora/Lora-Regular);
}

html,
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #404f54;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
}

.btn, .btn__pink, .btn__light {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 20px 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.btn__pink {
  background: #d02184;
  color: #ffffff;
}

.btn__light {
  border: 2px solid #b3b9bb;
  background: transparent;
  color: #9ea4a6;
}

.icons {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 46px;
  width: 100%;
  height: 48px;
}

.icons:focus {
  outline-style: solid;
  outline-width: 2px;
}
